
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  max-width: 340px;
  width: 100%;
   
 display: flex;  /* edit because responsive*/

}

.card {
  background: var(--white);
  padding: 1rem;
  border-radius: 1.3rem;
  text-align: center;
  display: flex; /* because swap margin */
  gap: 1rem;
    flex-wrap: wrap;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.qr-img {
  width: 100%;
  border-radius: 1rem;
  /* margin-bottom: 1rem; /* modified by flex */
}

h1 {
  font-size: 1.3rem;
  color: var(--dark-blue);
  /* margin-bottom: 0.8rem; /* modified by flex */
}

p {
  color: var(--grayish-blue);
  padding: 0 1.3rem;
  /* margin-bottom: 1rem; /* modified by flex */
}
